/* estilo-body-futuras-novedades */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.font-size-titulo{
    font-size: 40px;
}

.font-size-subtitulo{
    font-size: 30px;
}

.borde-bottom-body-futuras-novedades{
    border-bottom: 2px solid rgb(85, 85, 65);
}

@media (max-width: 1065px){
    .font-size-titulo{
        font-size: 30px;
    }
    
    .font-size-subtitulo{
        font-size: 20px;
    }    
}

@media (max-width: 800px){
    .font-size-titulo{
        font-size: 18px;
    }
    
    .font-size-subtitulo{
        font-size: 14px;
    }
}

@media (max-width: 684px){
    .font-size-titulo{
        font-size: 18px;
    }
    
    .font-size-subtitulo{
        font-size: 14px;
    }

    .borde-bottom-body-futuras-novedades{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 540px){
    .font-size-titulo{
        font-size: 16px;
    }
    
    .font-size-subtitulo{
        font-size: 12px;
    }
}

@media (max-width: 414px){
    .font-size-titulo{
        font-size: 14px;
    }
    
    .font-size-subtitulo{
        font-size: 8px;
    }
}

@media (max-width: 375px){
    .font-size-titulo{
        font-size: 15px;
    }
    
    .font-size-subtitulo{
        font-size: 9px;
    }
}

@media (max-width: 360px){
    .font-size-titulo{
        font-size: 16px;
    }
    
    .font-size-subtitulo{
        font-size: 8px;
    }
}

@media (max-width: 320px){
    .font-size-titulo{
        font-size: 14px;
    }
    
    .font-size-subtitulo{
        font-size: 6px;
    }
}

@media (max-width: 280px){
    .font-size-titulo{
        font-size: 12px;
    }
    
    .font-size-subtitulo{
        font-size: 6px;
    }
}