/* estilo-body-principal */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.font-size-titulo-body-principal{
    font-size: 40px;
}

.font-size-subtitulo-body-principal{
    font-size: 20px;
}

.borde-bottom{
    border-bottom: 2px solid rgb(85, 85, 65);
}

.contenedor-seccion-principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0px;
}

.contenedor-parrafo-principal{
    width: 45%;
    background-color: rgb(255, 255, 255, 0.3);
    border: 2px solid white;
    text-align: center;
    padding: 3%;
    margin-right: 2%;
}

.contenedor-imagen-principal{
    width: 40%;
}

.contenedor-2-imagen-principal{
    width: 40%;
    margin-right: 2%;
}

.contenedor-3-imagen-principal{
    width: 30%;
    margin-right: 2%;
}

@media (max-width: 1065px){
    .font-size-titulo-body-principal{
        font-size: 30px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 16px;
    }    
}

@media (max-width: 800px){
    .font-size-titulo-body-principal{
        font-size: 22px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 16px;
    }
}

@media (max-width: 684px){
    .font-size-titulo-body-principal{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 15px;
    }

    .contenedor-seccion-principal{
        display: block;
    }

    .contenedor-parrafo-principal{
        width: 80%;
        margin: auto;
    }

    .contenedor-imagen-principal{
        width: 60%;
        margin: auto;
        margin-top: 2%;
    }

    .contenedor-2-imagen-principal{
        width: 60%;
        margin: auto;
        margin-top: 2%;
    }

    .contenedor-3-imagen-principal{
        width: 40%;
        margin: auto;
        margin-top: 2%;
    }
}

@media (max-width: 540px){
    .font-size-titulo-body-principal{
        font-size: 18px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 14px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 414px){
    .font-size-titulo-body-principal{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 12px;
    }
}

@media (max-width: 375px){
    .font-size-titulo-body-principal{
        font-size: 14px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 10px;
    }
}

@media (max-width: 360px){
    .font-size-titulo-body-principal{
        font-size: 14px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 10px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 320px){
    .font-size-titulo-body-principal{
        font-size: 13px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 9px;
    }
}

@media (max-width: 280px){
    .font-size-titulo-body-principal{
        font-size: 12px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 8px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}