/* estilo-footer */

*{
    padding: 0;
    margin: 0;
    border: 0;
}
.contenedor-principal{
    width: 100%;
    display: flex;
}

.footer-principal{
    font-size: 45px;
    color: white;
}

.font-size-default{
    font-size: 25px;
}

.font-size-redes{
    font-size: 25px;
}

.li-item:hover{
    background-color: darkgray;
}

@media (max-width: 1065px){
    .footer-principal{
        font-size: 25px;
    }    
}

@media (max-width: 800px){
    .footer-principal{
        font-size: 20px;
    }
    #footer-redes a, #footer-links a{
        font-size: 15px;
    }
}

@media (max-width: 540px){
    .footer-principal{
        font-size: 15px;
    }
    #footer-redes a, #footer-links a{
        font-size: 10px;
    }
}

@media (max-width: 414px){
    .footer-principal{
        font-size: 15px;
    }
    #footer-redes a, #footer-links a{
        font-size: 10px;
    }
}

@media (max-width: 375px){
    .footer-principal{
        font-size: 14px;
    }
    #footer-redes a, #footer-links a{
        font-size: 9px;
    }
}

@media (max-width: 360px){
    .footer-principal{
        font-size: 14px;
    }
    #footer-redes a, #footer-links a{
        font-size: 9px;
    }
}

@media (max-width: 320px){
    .footer-principal{
        font-size: 12px;
    }
    #footer-redes a, #footer-links a{
        font-size: 7px;
    }
}

@media (max-width: 280px){
    .footer-principal{
        font-size: 10px;
    }
    #footer-redes a, #footer-links a{
        font-size: 5px;
    }
}





