/* estilo-body-articulos */

@font-face{
    font-family: 'Nunito';
    src: url("fonts/Nunito.ttf") format('truetype'),
    url("fonts/Nunito.woff") format('woff'),
    url("fonts/Nunito.woff2") format('woff2'),
    url("fonts/Nunito.svg#Tulip") format('svg'),
    url("fonts/Nunito.eot?#iefix") format('embedded-opentype');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.font-size-parrafo-body-articulos{
    font-size: 20px;
}

.border-radius-articulo{
    border-radius: 25px;
}

.font-size-titulo-body-articulos{
    font-size: 40px;
}

.font-size-subtitulo-body-articulos{
    font-size: 30px;
}

.borde-bottom-body-articulos{
    border-bottom: 2px solid rgb(85, 85, 65);
}

.borde-articulos-body-articulos{
    border: 2px solid rgb(85,85,65);
}


@media (max-width: 1065px){
    .font-size-titulo-body-articulos{
        font-size: 30px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 20px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 20px;
    }

    .border-radius-articulo{
        border-radius: 20px;
    }
}

@media (max-width: 800px){
    .font-size-titulo-body-articulos{
        font-size: 22px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 18px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 16px;
    }

    .border-radius-articulo{
        border-radius: 18px;
    }
}

@media (max-width: 683px){
    .font-size-titulo-body-articulos{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 16px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 12px;
    }

    .border-radius-articulo{
        border-radius: 18px;
    }

    .borde-bottom-body-articulos{
        border-bottom: 1px solid rgb(85, 85, 65);
    }

    .borde-articulos-body-articulos{
        border: 1px solid rgb(85,85,65);
    }
}

@media (max-width: 570px){
    .font-size-titulo-body-articulos{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 14px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 9px;
    }

    .border-radius-articulo{
        border-radius: 18px;
    }
}

@media (max-width: 540px){
    .font-size-titulo-body-articulos{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 14px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 9px;
    }

    .border-radius-articulo{
        border-radius: 18px;
    }
}

@media (max-width: 414px){
    .font-size-titulo-body-articulos{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 14px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 8px;
    }

    .border-radius-articulo{
        border-radius: 16px;
    }
}

@media (max-width: 375px){
    .font-size-titulo-body-articulos{
        font-size: 18px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 12px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 7px;
    }

    .border-radius-articulo{
        border-radius: 16px;
    }
}

@media (max-width: 360px){
    .font-size-titulo-body-articulos{
        font-size: 18px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 12px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 7px;
    }

    .border-radius-articulo{
        border-radius: 14px;
    }
}

@media (max-width: 320px){
    .font-size-titulo-body-articulos{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 10px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 7px;
    }

    .border-radius-articulo-body-articulos{
        border-radius: 14px;
    }
}

@media (max-width: 280px){
    .font-size-titulo-body-articulos{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-articulos{
        font-size: 10px;
    }

    .font-size-parrafo-body-articulos{
        font-size: 6px;
    }

    .border-radius-articulo{
        border-radius: 12px;
    }
}