/* estilo-general */

/* Importando fonts */
@font-face{
    font-family: 'Vintages';
    src: url("fonts/Vintages.ttf") format('truetype'), 
    url("fonts/Vintages.woff") format('woff'),
    url("fonts/Vintages.woff2") format('woff2'),     
    url("fonts/Vintages.svg#Tulip") format('svg'), 
    url("fonts/Vintages.eot?#iefix") format('embedded-opentype');
    
    font-family: 'Tulip';
    src: url("fonts/Tulip_DEMO.ttf") format('truetype'),
    url("fonts/Tulip_DEMO.woff") format('woff'),
    url("fonts/Tulip_DEMO.woff2") format('woff2'),
    url("fonts/Tulip_DEMO.svg#Tulip") format('svg'),
    url("fonts/Tulip_DEMO.eot?#iefix") format('embedded-opentype');
}

/* Texto */

.fuente-texto-general{
    font-family: 'Vintages';
}

.fuente-texto-adicional{
    font-family: 'Tulip';
}

.color-texto-general{
    color: rgb(85, 85, 65);
}
