/* estilo-nav */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

.ajuste-imagen-header{
    width: 40px;
}

.background-navegacion{    
    background-color:rgb(255, 231, 181);
}

.navegacion-link:hover{
    background-color: rgb(255, 215, 128, 0.6);
    color: white;
}