/* estilo-body-principal */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.font-size-titulo-body-principal{
    font-size: 40px;
}

.font-size-subtitulo-body-principal{
    font-size: 30px;
}

.borde-bottom{
    border-bottom: 2px solid rgb(85, 85, 65);
}

@media (max-width: 1065px){
    .font-size-titulo-body-principal{
        font-size: 30px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 20px;
    }    
}

@media (max-width: 800px){
    .font-size-titulo-body-principal{
        font-size: 22px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 18px;
    }
}

@media (max-width: 540px){
    .font-size-titulo-body-principal{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 10px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 414px){
    .font-size-titulo-body-principal{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 8px;
    }
}

@media (max-width: 375px){
    .font-size-titulo-body-principal{
        font-size: 14px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 6px;
    }
}

@media (max-width: 360px){
    .font-size-titulo-body-principal{
        font-size: 14px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 6px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 320px){
    .font-size-titulo-body-principal{
        font-size: 13px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 7px;
    }
}

@media (max-width: 280px){
    .font-size-titulo-body-principal{
        font-size: 12px;
    }
    
    .font-size-subtitulo-body-principal{
        font-size: 4px;
    }

    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}