/* estilo-body-alcancias */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor-grilla{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
}

.font-size-titulo-body-alcancias{
    font-size: 30px;
}

.font-size-subtitulo-body-alcancias{
    font-size: 25px;
}

.borde-bottom{
    border-bottom: 2px solid rgb(85, 85, 65);
}

@media (max-width: 1065px){
    .font-size-titulo-body-alcancias{
        font-size: 24px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 17px;
    }    
}

@media (max-width: 800px){
    .font-size-titulo-body-alcancias{
        font-size: 22px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 15px;
    }
}

@media (max-width: 540px){
    .font-size-titulo-body-alcancias{
        font-size: 20px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 13px;
    }
    .borde-bottom{
        border-bottom: 1px solid rgb(85, 85, 65);
    }
}

@media (max-width: 414px){
    .font-size-titulo-body-alcancias{
        font-size: 19px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 11px;
    }
}

@media (max-width: 375px){
    .font-size-titulo-body-alcancias{
        font-size: 16px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 11px;
    }
}

@media (max-width: 360px){
    .font-size-titulo-body-alcancias{
        font-size: 18px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 10px;
    }
}

@media (max-width: 320px){
    .font-size-titulo-body-alcancias{
        font-size: 17px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 8px;
    }
}

@media (max-width: 280px){
    .font-size-titulo-body-alcancias{
        font-size: 15px;
    }
    
    .font-size-subtitulo-body-alcancias{
        font-size: 6px;
    }
}