/* estilo-footer */

*{
    padding: 0;
    margin: 0;
    border: 0;
}
.contenedor-principal{
    display: flex;
}

.footer-principal{
    font-size: 35px;
    color: white;
}

.font-size-redes{
    font-size: 20px;
}

@media (max-width: 1105px){
    .footer-principal{
        font-size: 25px;
    }    
    #footer-redes a, #footer-links a{
        font-size: 18px;
    }
}

@media (max-width: 1065px){
    .footer-principal{
        font-size: 25px;
    }    
    #footer-redes a, #footer-links a{
        font-size: 16px;
    }
}

@media (max-width: 800px){
    .footer-principal{
        font-size: 19px;
    }
    #footer-redes a, #footer-links a{
        font-size: 16px;
    }
}

@media (max-width: 800px){
    .footer-principal{
        font-size: 18px;
    }
    #footer-redes a, #footer-links a{
        font-size: 11px;
    }
}

@media (max-width: 540px){
    .footer-principal{
        font-size: 16px;
    }
    #footer-redes a, #footer-links a{
        font-size: 9px;
    }
}

@media (max-width: 414px){
    .footer-principal{
        font-size: 13px;
    }
    #footer-redes a, #footer-links a{
        font-size: 7px;
    }
}

@media (max-width: 411px){
    .footer-principal{
        font-size: 14px;
    }
    #footer-redes a, #footer-links a{
        font-size: 6px;
    }
}

@media (max-width: 375px){
    .footer-principal{
        font-size: 12px;
    }
    #footer-redes a, #footer-links a{
        font-size: 7px;
    }
}

@media (max-width: 360px){
    .footer-principal{
        font-size: 12px;
    }
    #footer-redes a, #footer-links a{
        font-size: 6px;
    }
}

@media (max-width: 320px){
    .footer-principal{
        font-size: 10px;
    }
    #footer-redes a, #footer-links a{
        font-size: 6px;
    }
}

@media (max-width: 280px){
    .footer-principal{
        font-size: 9px;
    }
    #footer-redes a, #footer-links a{
        font-size: 5px;
    }
}





