/* estilo-general */

/* Importando fonts */
@font-face{
    font-family: 'AloneOnEarth';
    src: url("fonts/AloneOnEarth.ttf") format('truetype'),
    url("fonts/AloneOnEarth.woff") format('woff'),
    url("fonts/AloneOnEarth.woff2") format('woff2'),
    url("fonts/AloneOnEarth.svg#Tulip") format('svg'),
    url("fonts/AloneOnEarth.eot?#iefix") format('embedded-opentype');
}

@font-face{
    font-family: 'OpenSans';
    src: url("fonts/OpenSans.ttf") format('truetype'), 
    url("fonts/OpenSans.woff") format('woff'),
    url("fonts/OpenSans.woff2") format('woff2'),     
    url("fonts/OpenSans.svg#Tulip") format('svg'), 
    url("fonts/OpenSans.eot?#iefix") format('embedded-opentype');
}

/* Texto */

.fuente-texto-general{
    font-family: 'AloneOnEarth';
}

.fuente-texto-adicional{
    font-family: 'OpenSans';
}

.color-texto-general{
    color: rgb(85, 85, 65);
}


